@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color:  #f2f2f2;
  color: #000000;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15 0 rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  margin: 0;
  align-items: center;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-light-catalog {
  background-color: #82b3d3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  align-items: center;
}

.button-dark {
  background-color: #756157;
  margin: 0;
  padding: 8px 50px;
}

.button-dark-catalog {
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  align-items: center;
  padding: 8px 26px;
}

.button-transparent {
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 57px;
  width: 191px;
}

.submit-button {
  width: 190px;
  padding: 8px 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*MAIN PAGE*/
/*HEADER*/

.main-page-header {
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  margin-left: 30px;
  flex-grow: 1;
}

.navigation-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.navigation-user {
  max-width: 290px;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  flex-wrap: wrap;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #756257;
  bottom: 0;
  right: 16px;
  left: 16px;
}

.search-icon {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.heart-icon {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  margin-right: 20px;
}

.favourites-count {
  font-size: 10px;
  font-weight: 400px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  padding: 3px;
  min-height: 20px;
  min-width: 20px;
  display: block;
  position: relative;
  margin-top: -19px;
  margin-right: -19px;
}

.want-here {
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
}

.navigation-item-button {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-bottom: -6px;
  z-index: 2;
}

/*HERO*/

.hero {
  background-color: #7ea2c2;
  padding: 51px 70px 82px;
  position: relative;
}

.hero::after {
  content: "";
  background-image: url("../images/devider.svg");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
}

.hero-img-banner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  height: 100%;
}

.hero-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}


/*ADVANTAGES*/

.advantages-list {
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
  margin-top: 69px;
}

.advantages-main-title-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 69px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
  position: relative;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -30px;
  right: 55px;
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark {
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
}

.advantages-item-dark .advantages-title {
  color: #ffffff;
}

.advantages-item-dark .advantages-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -30px;
  right: 55px;

}

.advantages-item-dark .advantages-description {
  color: #ffffff;
}

.advantages-description {
  color: #333333;
  margin: 0;
}

.advantages-image {
  display: block;
}



/*SERVICES*/

.services-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.services-main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
}

.services-main-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 110px;
}

.services-description {
  margin: 0;
  padding: 0;
  width: 230px;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding-top: 81px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.services-item-medium {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-light {
  background-color: #ffffff;
}

.house-icon {
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.souvenirs-icon {
  background-image: url("../images/icons/souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.food-icon {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

/*HOTEL SEARCH*/

.hotel-search {
  text-align: center;
  width: 592px;
  margin: 0 auto;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 96px;
  margin-bottom: 20px;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-button {
  display: block;
  width: 376px;
  margin: 0 auto;
  margin-bottom: 96px;
}

/*FOOTER*/

.footer-subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.footer-subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

input[type=email] {
  font-size: 18px;
  line-height: 24px;
}

.footer-subscribe {
  display: block;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 96px 258px 104px;
}

.footer-subscribe-main-page {
  background-image: url("../images/subscribe.jpg");
  background-color: #4c6792;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

 .footer-subscribe-form {
  display: flex;
}

.footer-subscribe-button {
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
}

.field {
  flex-grow: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}

.field-inner {
background-color: #f2f2f2;
}

.footer-contacts {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.footer-contacts-social-item {
  display: flex;
  width: 47px;
  height: 40px;
  margin: auto;
  position: relative;
 }

.footer-contacts-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts-social-button {
  color: #82b3d3;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20px;
  left: 0;
  padding: 12px;
}

.footer-contacts-social-button:hover {
  color: #68a2ca;
}

.footer-contacts-social-button:focus {
  color: #68a2ca;
}

.footer-contacts-social-button:active {
  color: rgba(104, 162, 202, 0.3);
}

.button-vk {
  position: absolute;
  top: 11px;
  right: 0;
  bottom: 20px;
  left: 10px;
  width: 47px;
  height: 40px;
  text-align: center;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #000000;
  display: block;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  padding: 0;
  margin: 0;
  color: #000000;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link:focus {
  color: #756157;
}

.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}


/*CATALOG*/

/*MAIN*/

.catalog-header {
  display: flex;
  padding: 0 70px;
  margin: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.background-container {
  background-image: url("../images/background-catalog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #696563;
  color: #ffffff;
  margin: 0;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.breadcrumbs-link {
  display: block;
}

.home-button {
  width: 12px;
  height: 12px;
  margin-right: 28px;
  padding: 12px;
  display: block;
  background-image: url("../images/icons/main-page-icon.svg"), url("../images/icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: ;
 }

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.hotels-filter-group-infrastructure {
  margin-right: 70px;
}

.hotels-filter-group-living {
  min-width: 151px;
  margin-right: 140px;
}

.hotels-filter-group-price {
  min-width: 288px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
}

.hotels-filter-list {
  display: block;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.hotels-filter-item {
  margin-bottom: 16px;
}

.hotels-filter-item:last-child {
  margin-bottom: 0;
}

.price-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  width: 143px;
  margin: 0;
  padding: 12px 20px;
  box-sizing: border-box;
}

.price-input-min {
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
}

.price-label {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  min-width: 143px;
  min-height: 48px;
  margin: 0;
  padding: 0;
}

.buttons-container {
  margin-top: 56px;
  margin-right: auto;
}

.sorting-results {
  background-color: #ffffff;
  margin: 0;
  padding: 56.5px 70px 60px;
}

.sorting-results-container {
  display: flex;
  margin-bottom: 40px;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 46.5px;
}

.sorting-results-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  display: flex;
}

.sorting-results-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  display: block;
}

.show-cards-list {
  display: flex;
  margin-left: auto;
}

.show-cards-button {
  display: block;
  width: 48px;
  height: 48px;
}

.show-cards-button:hover {
  border-color: #000000;
}


.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  min-width: 292px;
  padding: 12px 20px;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-right: 40px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.price {
  margin-left: auto;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  grid-column: 2 span;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-image {
  display: block;
}

.button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
  width: 140px;
  height: 36px;
  margin: 0;
  padding: 0;
}

.button-favourites-selected {
  background-color: #7db54f;
  width: 140px;
  height: 36px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px;
  border-radius: 4px;
}

.product-four-stars {
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.pagination {
  list-style: none;
  display: flex;
  width: 1060px;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  flex-wrap: wrap;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  padding: 11px 23px;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  display: block;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.dots {
  display: block;
  min-width: 60px;
  min-height: 60px;
  align-items: center;
  padding: 16px 22px;
}
