@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  }

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color:  #f2f2f2;
  color: #000000;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15 0 rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.button-light {
  background-color: #82b3d3;
}

.button-light-catalog {
  background-color: #82b3d3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  align-items: center;
}

.button-dark {
  background-color: #756157;
  margin: 0;
  padding: 8px 50px;
}

.button-dark-catalog {
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  align-items: center;
  padding: 8px 26px;
}

.button-transparent {
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 57px;
  width: 191px;
}

.submit-button {
  width: 190px;
  padding: 8px 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*MAIN PAGE*/
/*HEADER*/

.main-page-header {
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  margin-left: 30px;
  flex-grow: 1;
}

.navigation-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.navigation-user {
  max-width: 290px;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  flex-wrap: wrap;
  padding: 20px 16px;
}

.favourites-count {
  font-size: 10px;
  font-weight: 400px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;
}

.want-here {
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
}

.navigation-item-button {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
}

/*HERO*/

.hero {
  background-color: #7ea2c2;
}


/*ADVANTAGES*/

.advantages-list {
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
}

.advantages-main-title-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 69px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark {
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
}

.advantages-item-dark .advantages-title {
  color: #ffffff;
}

.advantages-item-dark .advantages-description {
  color: #ffffff;
}

.advantages-description {
  color: #333333;
  margin: 0;
}

.advantages-image {
  display: block;

}

/*SERVICES*/

.services-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.services-main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
}

.services-main-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 112.5px 85px;
}

.services-item-medium {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-light {
  background-color: #ffffff;
}

/*HOTEL SEARCH*/

.hotel-search {
  text-align: center;
  width: 592px;
  margin: 0 auto;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 96px;
  margin-bottom: 20px;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-button {
  display: block;
  width: 376px;
  margin: 0 auto;
  margin-bottom: 96px;
}

/*FOOTER*/

.footer-subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.footer-subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

input[type=email] {
  font-size: 18px;
  line-height: 24px;
}

.footer-subscribe {
  display: block;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 96px 258px 104px;
  }

.footer-subscribe-main-page {
  background-image: url("../images/subscribe.jpg");
  background-color: #4c6792;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
 }

 .footer-subscribe-form {
  display: flex;
 }

.footer-subscribe-button {
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
}

.field {
  flex-grow: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}

.field-inner {
background-color: #f2f2f2;
}

.footer-contacts {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.footer-contacts-social-item {
  display: flex;
  width: 47px;
  height: 40px;
}

.footer-contacts-social-list {
  list-style: none;
  width: 142px;
  display: flex;
}

.footer-contacts-social-button {
  color: black;
  background-color: #ffffff;
  display: block;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

/*CATALOG*/

/*MAIN*/

.catalog-header {
  display: flex;
  padding: 0 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.background-container {
  background-image: url("../images/background-catalog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #696563;
  color: #ffffff;
  padding: 70px;
  padding-top: 35px;
}

.breadcrumbs {
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotels-filter {
  display: flex;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.price-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.price-label {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.sorting-results {
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

.sorting-results-container {
  display: flex;
  margin-bottom: 40px;
}

.sorting-results-title,
.sorting-results-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-card-row {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.hotel-card-row:last-child {
  margin-bottom: 0;
}

.price {
  margin-left: auto;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card {
  background-color: #ffffff;
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
  width: 140px;
  height: 36px;
}

.button-favourites-selected {
  background-color: #7db54f;
  width: 140px;
  height: 36px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px;
  border-radius: 4px;
}

.pagination {
  list-style: none;
  display: flex;
  width: 1060px;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;

}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  }
